.Projets {
  height: auto;
  background-image: url("../../img/blob-scatter-haikei.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}

.Projets__title {
  font-family: "Bebas Neue", cursive;
  font-size: 5em;
  margin-bottom: 1em;
}

.Projets__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Projets__card {
  width: 50%;
  height: auto;
  max-width: 300px;
  margin: 1em auto;
  border: 1px solid #cecbc5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Projets__card__img {
  width: 100%;
  height: auto;
  max-height: 200px;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #cecbc5;
  border-radius: 7px 7px 0 0;
}

.Projets__card__title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.Projets__card__desc {
  font-style: italic;
  margin-bottom: 0.5em;
}

.Projets__card__link {
  color: #cecbc5;
}

.Projets__github {
  width: 20%;
  height: 20%;
  margin: auto;
  padding: 1em;
}

.Projets__github__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: auto;
  padding: 1em;
  color: #cecbc5;
  border-radius: 20px;
  transition-duration: 150ms;
}

.Projets__github__link:hover {
  border: 2px solid white;
}
.Projets__github__logo {
  max-width: 200px;
  height: auto;
  margin: auto;
}

.Projets__github__text {
  margin-top: 1em;
}

/* Responsive */

@media (max-width: 959px) {
  .Projets__github {
    width: auto;
  }
  .Projets__title {
    font-size: 3em;
  }
  .Projets__github__text {
    margin: 0.1em;
  }
  .Projets__card {
    width: 100%;
  }
}
