.title {
  font-family: "Bebas Neue", cursive;
  font-size: 6em;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  margin: 1em;
  color: #cecbc5;
}

.introduction {
  font-size: 2em;
  margin: 1em;
  color: #cecbc5;
  line-height: 1.2em;
}

@media (max-width: 900px) {
  .title {
    font-size: 3em;
  }
  .introduction {
    font-size: 1.3em;
  }
}
