.Presentation {
  min-height: 100vh;
  height: auto;
  background-image: url("../../img/blob-scatter-haikei.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}

.Presentation__title {
  font-family: 'Bebas Neue', cursive;
  font-size: 5em;
  margin-bottom: 1em;
}

.Presentation__text {
  font-size: 1.6em;
  max-width: 700px;
  margin: auto;
  line-height: 1.3em;
}

/* Responsive */

@media (max-width: 900px) {
  .Presentation {
    height: auto;
  }

  .Presentation__title {
    font-size: 3em;
  }
}