.Accueil {
  height: 100vh;
  background-image: url("../../img/apple-desk.jpeg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}

.test {
  border: 1px #f0f solid;
}
.header {
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.logo {
  position: absolute;
  top: 0px;
  left: 20px;
}

.menu {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-item {
  padding: .3em;
  margin: 1em;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.7em;
  transition-duration: 150ms;
  color: #CECBC5;
  text-decoration: none;
}
.menu-burger-item {
  padding: .5em;
  font-weight: bold;
  font-size: 1em;
  color: #000000;
  text-decoration: none;
}

.menu-item:hover {
  border: #CECBC5 2px solid;
  background-color: #41464B;
}

.infos {
  padding: 3em;
}

.name {
  font-family: 'Bebas Neue', cursive;
  font-size: 5em;
}

.title-job {
  font-size: 3em;
}

.linkedin {
  width: 20%;
  margin: auto;
  padding: 1em;
}

.linkedin-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #CECBC5;
  margin: auto;
  padding: 1em;
  border-radius: 20px;
  transition-duration: 150ms;
}

.linkedin-link:hover {
  border: 3px solid #0477b7;
}

.linkedin-text {
  margin: 1em 0 0 0;
}

/* Responsive */

@media (max-width: 959px) {
  .disabled {
    display: none;
  }

  .menu {
    width: auto;
  }

  .name {
    font-size: 3em;
    margin-bottom: .2em;
  }

  .title-job {
    font-size: 1.7em;
  }

  .linkedin {
    width: auto;
  }
}