.Accueil {
  min-height: 100vh;
  height: auto;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  color: #cecbc5;
  animation-duration: 2s;
  animation-name: slideFromLeft;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.menu {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-item {
  margin: 1em;
  font-weight: bolder;
  font-size: 1.7em;
  transition-duration: 200ms;
  color: #cecbc5;
  text-decoration: none;
}
.menu-burger-item {
  padding: 0.5em;
  font-weight: bold;
  font-size: 1em;
  color: #000000;
  text-decoration: none;
}

.menu-item:hover {
  border-bottom: 0.5px solid #cecbc5;
}

.infos {
  padding: 3em;
  margin-bottom: 3em;
}

.name {
  font-family: "Bebas Neue", cursive;
  font-size: 5em;
  animation-duration: 4s;
  animation-name: opacity;
}

.title-job {
  font-size: 3em;
}

.introduction {
  font-size: 2em;
  margin: 1em;
  color: #cecbc5;
  line-height: 1.2em;
}

.img__picture {
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}

.img__block {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.img__description {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}
.social-icons {
  padding: 3em;
}

.social-icons__item {
  margin: 2em;
  padding: 1em;
}

.social-icons__item:hover {
  border: 1px solid #cecbc5;
  border-radius: 50%;
}

/* Animation */

@keyframes slideFromRight {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    margin-right: 100%;
    width: 300%;
    opacity: 0;
  }

  to {
    margin-right: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive */

@media (max-width: 959px) {
  .disabled {
    display: none;
  }

  .menu {
    width: auto;
  }

  .name {
    font-size: 3em;
    margin-bottom: 0.2em;
  }

  .title-job {
    font-size: 1.7em;
  }

  .introduction {
    font-size: 1.3em;
  }

  .img__picture {
    width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 50%;
  }

  .img__block {
    flex-direction: column;
    padding: 0;
  }
} ;
