.contact-title {
  font-family: "Bebas Neue", cursive;
  font-size: 6em;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  margin: 1em;
}
.contact-card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  margin: auto;
  padding: 1em;
  width: 60%;
  max-width: 900px;
}

.contact-infos {
  border-bottom: 1px solid #cecbc5;
  margin: 1em;
  padding: 1em 1em 2.5em;
  display: flex;
  align-items: center;
}

.contact__icons {
  margin-right: 2em;
  align-self: baseline;
}

.contact-info {
  font-size: 2em;
  text-align: start;
}
.citation {
  font-style: italic;
  font-size: 2em;
  mix-blend-mode: difference;
  margin-top: 3em;
}
.contact__containerForm {
  height: 70vh;
  width: 90%;
  margin: 3em auto 0;
  display: flex;
  justify-content: center;
}

.contact__containerForm__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__containerForm__form__input,
.contact__containerForm__form__textarea,
.contact__containerForm__form__button {
  border: 1px black solid;
  border-bottom: none;
  background-color: #cecbc5;
  min-height: 1rem;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
}

.contact__containerForm__form__textarea {
  min-height: 20em;
}

.contact__containerForm__form__input:hover,
.contact__containerForm__form__textarea:hover,
.contact__containerForm__form__button:hover {
  background-color: rgb(245, 240, 232);
}

@media (max-width: 900px) {
  .contact-title {
    font-size: 3em;
  }
  .contact-info {
    font-size: 1em;
  }
  .citation {
    font-size: 1em;
  }
  .contact-card {
    width: 90%;
  }
  .contact__containerForm__form {
    width: 100%;
  }
}
